
$topbar-bg: #ffffff;
$topbar-height: 55px;

$topbar-dropdown-bg: #ffffff;
$topbar-dropdown-link-color: #4c4c4c;
$topbar-dropdown-link-bg: #ffffff;
$topbar-dropdown-toggle-size: 3px;
$topbar-dropdown-toggle-color: #4c4c4c;
$topbar-dropdown-toggle-alpha: 0.5;

$topbar-link-color: #4c4c4c;
$topbar-link-color-hover: #4c4c4c;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(10);
$topbar-link-bg-color-hover: #ffffff;
$topbar-link-bg-hover: #ffffff;
$topbar-link-font-family: Helvetica;

$topbar-transition-speed: 300ms;

@import "foundation/components/top-bar";